<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<customBinding>
				<!-- 1. InvoiceWSPortBinding -->
				<binding name="InvoiceWSPortBinding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>

				<!-- 2. QueryInvoiceWSPortBinding -->
				<binding name="QueryInvoiceWSPortBinding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport
					  maxBufferSize="99999999"
					  maxReceivedMessageSize="999999999"
					  authenticationScheme="Anonymous"
					  proxyAuthenticationScheme="Anonymous"
					  useDefaultWebProxy="true" />
				</binding>

				<!-- ✅ 3. EKLENDİ: QueryDocumentWSPortBinding -->
				<binding name="QueryDocumentWSPortBinding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport
					  transferMode="Buffered"
					  maxBufferSize="999999999"
					  maxReceivedMessageSize="999999999"
					  authenticationScheme="Anonymous"
					  proxyAuthenticationScheme="Anonymous"
					  useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>

		<client>
			<endpoint address="https://servis.univeradonusum.com/InvoiceService/InvoiceWS"
					  binding="customBinding"
					  bindingConfiguration="InvoiceWSPortBinding"
					  contract="InvoiceWS.InvoiceWS"
					  name="InvoiceWSPort" />

			<endpoint address="https://servis.univeradonusum.com/QueryInvoiceService/QueryDocumentWS"
					  binding="customBinding"
					  bindingConfiguration="QueryDocumentWSPortBinding"
					  contract="ServiceReference1.QueryDocumentWS"
					  name="QueryDocumentWSPort" />
		</client>
	</system.serviceModel>
</configuration>